@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.container {
	padding-top:50px;
}

#nav {
    float:right;
    text-align:right;
    margin-top:50px;
	}

#name {
    
}

#name, #nav {
    display:inline;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

li a {
    text-decoration:;
}


/* menu */


.menu {
    clear: both;
    max-height: 0;
    transition: max-height .5s ease-out;
}

.menu a {
    text-decoration: none;
}

/* menu icon */

.menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding-top:11px;
    user-select: none;
}

.menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 25px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    line-height: 30px;
    transition: all .2s ease-out;
    width: 100%;
}
.menu-icon:hover > .navicon:before {
    margin-top:2px;
}
.menu-icon:hover > .navicon:after {
    margin-top:-2px;
}

.menu-icon .navicon:before {
    top: 5px;
}

.menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.menu-btn {
    display: none;
}

.menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
    margin-top:0px;
    transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
    margin-top:0px;
    transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

.menu2 {
    background:black;
    float:right;
    text-align:right;
    margin-top:50px;
    clear: both;
    max-height: 0;
    transition: max-height .3s ease-out;
}

.menu2 a {
    color:white;
    text-decoration:none;
}

.menu2 li {
    padding:20px;
}

.menu-btn:checked ~ .menu {
    visibility:hidden;
}
.menu-btn:checked ~ .menu2  {
    max-height: 200px;
    }

/* 48em = 768px */

@media (min-width: 48em) {
 .menu li {
    float: left;
}
 .menu li a {
    padding-left:40px;
}
 .menu {
    clear: none;
    float: right;
    max-height: none;
  }
.menu-icon {
    
  }
.menu-btn:not(:checked) ~ .menu-icon {
    display:none;
    }
}

@media (max-width: 48em) {
.menu {
    display:none;
    }

}

#header {
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

@-webkit-keyframes header {
            0% {
               opacity: 0;
               -webkit-transform: translateY(-30px);
            }
            100% {
               opacity: 1;
               -webkit-transform: translateY(0);
            }
         }
         
         @keyframes header {
            0% {
               opacity: 0;
               transform: translateY(-30px);
            }
            100% {
               opacity: 1;
               transform: translateY(0);
            }
         }
         
         #header {
            -webkit-animation-name: header;
            animation-name: header;
         }

.wrapper {
    width: 95%;
    margin: 3em auto;
}



@media only screen and (min-width: 400px) {
    article {
        float:left;
    }
}