@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Overpass:400,700');

body {
    background-color:#111111;
    color:white;
}

a {
    transition: .1s;
}

a:hover {
    color:#d0736c;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 7px;
}
 
::-webkit-scrollbar-thumb {
    background-color:grey;
}

#header {
    position:relative;
    z-index:55;
    padding-top:20px;
    font-size:1.6rem;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

@-webkit-keyframes header {
            0% {
               opacity: 0;
               -webkit-transform: translateY(-30px);
            }
            100% {
               opacity: 1;
               -webkit-transform: translateY(0);
            }
         }
         
         @keyframes header {
            0% {
               opacity: 0;
               transform: translateY(-30px);
            }
            100% {
               opacity: 1;
               transform: translateY(0);
            }
         }
         
         #header {
            -webkit-animation-name: header;
            animation-name: header;
         }

#nav {
    float:right;
    text-align:right;
    margin-top:50px;
	}

#name {
    color:white;
}
#name a {
    color:white;
    text-decoration:none;
}

#name, #nav {
    display:inline;
}

#main {
    position:relative;
    padding-bottom:80px;
}

#intro {
    margin-top:150px;
}

#content {
    margin-top:80px;
}

#workinfo {
    margin-top:20px;
}

#work {
    position:relative;
}

.title {
    position:absolute;
    bottom:7px;
    display:inline-block;
    font-size:1rem;
    font-weight:700;
    padding:20px;
    background-color:white;
    color:black;
}

.info {
    margin-top:20px;
    font-size:0.9rem;
    font-family:'Source Code Pro';
}

#about {
    padding-bottom:20px;
}

#tag {
    margin-top:20px;
    font-size:0.8rem;
    float:right;
}

.workimg {
    margin-top:40px;
}

.video-wrapper {
    position: relative;
}

.video-wrapper > video {
    width: 100%;
    vertical-align: middle;
}

.video-wrapper > video.has-media-controls-hidden::-webkit-media-controls {
    display: none;
}

.video-overlay-play-button {
    background-color:white;
    width: 10%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    opacity: 0.90;
    cursor: pointer;
    transition: opacity 150ms;
}

.video-overlay-play-button:hover {
    opacity: 1;
}

.video-overlay-play-button.is-hidden {
    display: none;
}


/* menu */


.menu {
    clear: both;
    max-height: 0;
    transition: max-height .5s ease-out;
}

.menu a {
    text-decoration: none;
}

/* menu icon */

.menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding-top:18px;
    user-select: none;
}

.menu-icon .navicon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 25px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    line-height: 30px;
    transition: all .2s ease-out;
    width: 100%;
}
.menu-icon:hover > .navicon:before {
    margin-top:2px;
}
.menu-icon:hover > .navicon:after {
    margin-top:-2px;
}

.menu-icon .navicon:before {
    top: 5px;
}

.menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.menu-btn {
    display: none;
}

.menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
    margin-top:0px;
    transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
    margin-top:0px;
    transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

.menu2 {
    position:absolute;
    background:white;
    right:0;
    text-align:right;
    margin-top:10px;
    clear: both;
    max-height:0;
    transition: max-height .3s ease-out;
    z-index:99;
}

.menu2 a {
    position:relative;
    color:black;
    text-decoration:none;
    z-index:99;
}

.menu2 li {
    padding:10px;
}

.menu-btn:checked ~ .menu {
    visibility:hidden;
}
.menu-btn:checked ~ .menu2  {
    max-height: 400px;
    }

/* 48em = 768px */

@media (min-width: 48em) {
 .menu li {
    float: left;
}
 .menu li a {
    padding-left:40px;
}
 .menu {
    clear: none;
    float: right;
    max-height: none;
  }
.menu-icon {
    
  }
.menu-btn:not(:checked) ~ .menu-icon {
    display:none;
    }
}

@media (max-width: 48em) {
.menu {
    display:none;
    }

}

.wrapper {
    width: 95%;
    margin: 3em auto;
}


@media only screen and (min-width: 400px) {
    article {
        float:left;
    }
}



/**
*** SIMPLE GRID
*** (C) ZACH COLE 2016
**/

/* UNIVERSAL */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

/* ROOT FONT STYLES */

* {
  font-family: 'Overpass', monospace, sans-serif;
  color: #fff;
  line-height: 1.5;
  font-weight:normal;
}

/* TYPOGRAPHY */

h1 {
  font-size: 2.5rem;
  line-height:3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.3rem;
  font-weight: 200;
  line-height: 1.8;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

/* ==== GRID SYSTEM ==== */

.container {
  width: 93%;
  max-width:1500px;
  margin: 0 auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 0%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 99%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 50%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 89%;
  }
    #intro {
    margin-top:250px;
}
    #header {
    padding-top:30px;
}
    #content {
    margin-top:100px;
}
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 100%;
  }

  .hidden-sm {
    display: block;
  }
    
    h1 {
    font-size: 3.7rem;
    line-height:3.9rem;
    }
    #intro {
    max-width:900px;
    }

}


@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 82%;
  }
}
